body{
    margin: 0px;
    padding: 0px;
    background: #f1f1f1;
    font-family: arial;
    box-sizing: border-box;
}
.card-container{
    width: 300px;
    height: 430px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
}
.upper-container{
    height: 150px;
    background: #7f00ff;
}
.image-container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(100px,100px);
}
.lower-container{
    height: 280px;
    background: #fff;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}
.lower-container h3, h4{
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
}
.lower-container h4{
    color: #7f00ff;
    opacity: .6;
    font-weight: bold;
}
.lower-container p{
    font-size: 16px;
    color: grey;
    margin-bottom: 30px;
    font-style: italic;
}
.lower-container .btn{
    padding: 12px 20px;
    background: #7f00ff;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
}
.btn{
    border-radius: 20px;
    background-color: #3a141f;
    box-shadow: 15px 15px 30px rgba(58, 20, 31, 0.1);
    width: 210px;
    position: absolute;
    display: flex;
    padding: 1.25rem 2.5rem;
}
.player-stat{
    font-size: 0.75rem;
    color: whitesmoke;
    text-transform: uppercase;
}
.player-stat-number{
    margin-top: 0.375rem;
    font-size: 11px;
    font-weight: 700;
    color: white;
}